.gray {
    color: $gray;
}

.hm-first-slide {
  background-image: url('../assets/images/header.png');
  background-size: cover;
  padding: 27rem 0 18rem;
  position: relative;
  z-index: 2;

  .graph {
    width: 100%;
  }

  h1 {
    font-size: 5rem;
    text-transform: uppercase;
    margin: 0;
  }

  h2 {
    font-size: 5rem;
    text-transform: uppercase;
    color: $orange;
    margin-top: 0;
    font-weight: 700;
  }

  .gray {
    margin: 3rem 0 3rem;
    position: relative;
    padding-bottom: 3rem;

    ::after {
      content: '';
      display: block;
      position: absolute;
      bottom: 0;
      left: 0;
      background: $red;
      height: 3px;
      width: 45px;
    }

    p {
      text-transform: uppercase;
      letter-spacing: 1px;
    }
  }

  .buttons {
    margin-top: 14rem;

    button {
      margin: 0 4rem 2rem 0;
    }
  }

  @media (min-width: $screen-lg) {
    h1, h2 {
      width: 100rem;
    }

    .graph {
      margin-top: -2rem;
    }
  }
}

.hm-second-slide {
  @include background-gradient-horizontal($light-gray, $light-gray-2);
  height: 60rem;
  position: relative;
  z-index: 1;
  margin-top: -10rem;
  padding-top: 10rem;

  .title {
    text-transform: uppercase;
    font-size: 3rem;
    text-align: right;
    color: $text-color-2;
    margin: 0;
  }

  .slider {
    margin-top: 3rem;

    ul {
      list-style: none;
      position: relative;
      height: 40rem;

      li {
        height: 100%;

        .company-logo {
          height: 100%;
          overflow: hidden;

          img {
            z-index: 1;
            position: absolute;
            height: 100%;
            left: 0;
            top: 0;
          }

          ::before {
            content: '';
            display: block;
            position: absolute;
            left: 0;
            top: 0;
            width: 100%;
            height: 100%;
            @include orange-bg(.8);
            z-index: 2;
          }
        }

        .company-info {
          background: $orange;
          height: 100%;
        }

      }

    }
  }
}

.hm-fifth-slide {

  .left-side {
    background: $orange;
    font-size: 1.8rem;
    padding: 27rem 0 29rem;
    float: left;

    @media (min-width: $screen-md) {
      width: 44.79%;
    }

    p {
      font-weight: lighter;

      img {
        float: left;
        margin-top: -2.8rem;
        margin-right: 1rem;
      }
    }

    .button-descr {
      font-size: 1.6rem;
      margin: 6rem 0 1.5rem;
    }
  }

  .right-side {
    padding: 13rem 0 10rem;
    color: $text-color-2;

    @media (min-width: $screen-md) {
      width: 55.21%;
    }

    .row-tehnologies {
      margin-bottom: 5rem;

      .flex-center {
        margin-top: 0;
      }

      .member {
        height: 7.5rem;
        display: flex;

        p {
          font-size: 1.1rem;
          font-weight: bold;
          color: $text-color-2;
          margin: 1rem 0 -.5rem 0;
          text-transform: uppercase;
          letter-spacing: 2px;
        }

        span {
          font-size: .9rem;
        }

        > div {
          display: inline-block;
          align-self: flex-end;
        }
      }
    }

    .flex-center {
      margin-top: 7rem;
    }

    .member {
      display: inline-block;
      font-weight: 600;

      p {
        color: $orange;
        font-size: 1.6rem;
        margin: 2rem 0 0;
      }

      span {
        font-size: 1.2rem;
      }
    }
  }
}

.hm-sixth-slide {
  background-image: url('../assets/images/pre-footer.png');
  background-size: cover;
  padding: 12rem 0 22rem;
  position: relative;
  z-index: 2;

  .title {
    text-transform: uppercase;
    font-weight: lighter;
    margin-bottom: 6rem;
    height: 11rem;
    border-left: 1px solid $text-color;
    padding-left: 2rem;

    p {
      font-size: 4.6rem;
      letter-spacing: 1.5rem;
      margin: 0 0 -1rem;
    }

    span {
      font-size: 1.4rem;
      letter-spacing: .5rem;
    }
  }


  &::after {
    content: '';
    display: block;
    width: 110px;
    height: 110px;
    background-image: url('../assets/images/red-dot.png');
    background-repeat: no-repeat;
    position: absolute;
    bottom: -.5rem;
    left: calc(50% - 55px);
  }
}

.hm-seventh-slide {
  margin-top: -11rem;
  padding: 11rem 0 37rem;
  background-image: url('../assets/images/locations.png');
  background-size: cover;
  z-index: 1;

  .title {
    margin: 8rem 0 7rem;
    font-size: 3rem;
    text-transform: uppercase;
    font-weight: bold;

    p {
      margin: 0;
    }
  }

  .our-work {

    .work {
      margin: 9rem 0;

      p {
        font-size: 4.8rem;
        font-weight: bold;
        margin-bottom: -1rem;
      }

      span {
        font-size: 3rem;
        font-weight: lighter;
      }
    }

    .right-side {
      padding-top: 6rem;

      img {
        display: block;
        margin: 7rem 0;
      }
    }
  }
}


.hm-third-slide {
    margin-top: -20px;
    padding-top: 20px;
    position: relative;
    height: 130rem;
    overflow: hidden;
    z-index: 1;

    .float-left {
        float: left;
    }

    .text-bold {
      text-transform: uppercase;
      font-size: 300%;
      font-family: 'Open Sans', sans-serif;
      font-weight: bold;
    }

    .text-tiny {
      text-transform: uppercase;
      font-size: 100%;
      letter-spacing: 0.6rem;
      opacity: 0.7;
      font-family: 'Open Sans', sans-serif;
    }

    .text-signature {
      text-transform: uppercase;
      font-size: 90%;
    }

    .align-center {
      display: flex;
      height: 50%;
      width: 100%;
      resize: vertical;
      flex-direction: column;
      justify-content: flex-end;
      align-items: center;
      text-align: center;
    }

    .align-bottom-left {
      padding-left: 2%;
      display: flex;
      flex-direction: column;
      justify-content: flex-end;
      align-items: flex-start;
      height: 50%;
      width: 100%;
    }

    .bg-1 {
        background: url("../assets/images/bg-1.png") no-repeat;
        background-size: 100% 100%;
        height: 50%;
        width: 40%;

    }

    .bg-2 {
        background: url("../assets/images/bg-2.png") no-repeat;
        background-size: 100% 100%;
        height: 25%;
        width: 20%;
    }

    .bg-3 {
        background: url("../assets/images/bg-3.png");
        background-size: 100% 100%;
        height: 25%;
        width: 40%;

    }

   .bg-4 {
        background: url("../assets/images/bg-4.png") no-repeat;
        background-size: 100% 100%;
        height: 25%;
        width: 40%;

        .text-tiny {
          font-size: 90%;
        }

    }

    .bg-5 {
        background: url("../assets/images/bg-5.png") no-repeat;
        background-size: 100% 100%;
        height: 25%;
        width: 20%;
    }

    .bg-6 {
        background: url("../assets/images/bg-9.png") no-repeat;
        background-size: 100% 100%;
        height: 49.35%;
        width: 20%;

        .text-bold {
          font-size: 200%;
        }

        .text-tiny {
          font-size: 90%;
        }

        .align-bottom-left {
          padding-bottom: 18%;
        }
    }

    .bg-7 {
        background: url("../assets/images/bg-8.png") no-repeat;
        background-size: 100% 100%;
        height: 25%;
        width: 20%;
    }

    .bg-8 {
        background: url("../assets/images/bg-7.png") no-repeat;
        background-size: 100% 100%;
        height: 25%;
        width: 20%;

        .text-bold {
          font-size: 200%;
        }

        .text-tiny {
          font-size: 80%;
          letter-spacing: 0.4rem;
        }
    }

    .bg-9 {
        background: url("../assets/images/bg-6.png") no-repeat;
        background-size: 100% 100%;
        height: 25%;
        width: 40%;
    }

    .bg-10 {
        background: url("../assets/images/bg-10.png") no-repeat;
        background-size: 100% 100%;
        height: 23.178%;
        width: 30%;

        .align-bottom-left {
          padding-bottom: 10%;
        }
    }

    .bg-11 {
        background: url("../assets/images/bg-11.png") no-repeat;
        background-size: 100% 100%;
        height: 22.175%;
        width: 50%;

      .align-bottom-left {
        padding-bottom: 5%;
      }
    }

}

.hm-fourth-slider {
    position: relative;
    height: 80rem;
    padding-top: 5%;

    .image-holder {
        margin: 0;
        height: 12rem;
        width: 24rem;
        display: inline-block;
    }

    .title-holder {

        margin-top: 0;
        padding-left: 10%;

        h1 {
          text-transform: uppercase;
          font-size: 350%;
          font-family: 'Open Sans', sans-serif;
          color: black;
          text-align: left;
          font-weight: lighter;
          margin-top: 0;
          width: 100%;
          overflow: hidden;
        }

        .red {
          font-weight: bold;
          color: red;
          width: 50rem;
          text-align: left;
        }

        .bold {
          font-weight: bold;
        }
    }

    .text-holder {
        margin-top: 0;
        padding-left: 10%;
        overflow: hidden;

        p {
          font-size: 2.4rem;
          font-family: 'Open Sans', sans-serif;
          color: black;
          text-align: left;
          font-weight: lighter;
          margin-top: 0;
          width: 100%;
          white-space: nowrap;

        }

        .bold-1 {
          font-size: 150%;
          font-weight: bold;
        }

        .bold-2 {
          font-weight: bold;
        }

        .bold-3 {
          font-size: 150%;
          font-weight: bold;
          font-style: italic;
        }

        .cut {
          font-weight: bold;
          text-decoration: line-through;
        }
    }

    .buttons {
      display: flex;
      padding-left: 10%;
      padding-right: 5%;
      align-content: flex-end;
      justify-content: flex-end;

      .btn {
        color: red;
        font-size: 110%;
        padding: 0.5rem 6rem 0.5rem 6rem;
        border: 0.1rem solid;
      }

      .btn:hover {
        background: red;
        color: white;
      }
    }

}
