<footer class="footer-bottom">
    <div class="container">
        <div class="row">

            <div class="col-md-2 flex-middle">
                <p><b>@ All rights reserved.</b></p>
            </div>

            <div class="col-md-3 col-md-offset-2 text-center logo-footer">
                <img src="assets/images/logo2.png"/>
                <div>
                    <img src="assets/images/ico-facebook.png" />
                    <img src="assets/images/ico-be.png" />
                    <img src="assets/images/ico-linkedin.png" />
                    <img src="assets/images/ico-basket.png" />
                </div>
            </div>

            <div class="col-md-4 col-md-offset-1 address text-right">
                <p>Transylvania (RO) | Brasovului 6A/3, targu mures<br/>
                    UNITED KINGDOM (UK) ] Madison str. 58, London<br/>
                    BENELUX (NED) | Klegnsgut #7911, 1st. floor, office 17, amsterdam</p>

                <p class="info">VAT ID: RO 33564960<br/>
                    REG No: J26/838/2014<br/>
                    Phone: +4 0770 007 700<br/>
                    hello@creativeinstinkt.com<br/>
                    fb/creativeinstinkt<br/>
                    behance/creativeinstinkt</p>
            </div>

        </div>
    </div>
</footer>