@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,300,300italic,400italic,600,600italic,700,700italic);

/**
 *  If you want to override some bootstrap variables, you have to change values here.
 *  The list of variables are listed here bower_components/bootstrap-sass/assets/stylesheets/bootstrap/_variables.scss
 */
$navbar-inverse-link-color: #5AADBB;
$icon-font-path: "../../bower_components/bootstrap-sass/assets/fonts/bootstrap/";

$text-color: #fff;
$text-color-2: #000;
$orange: rgb(239, 67, 55);

@mixin orange-bg($opacity) {
  background-color: rgba(239, 67, 55, $opacity);
}

$gray: #818080;
$light-gray: #d5d5d5;
$light-gray-2: #f4f4f4;
$red: #d50000;
$blue: #3743ef;

@mixin background-gradient-horizontal($from, $to) {
  background: $from;
  background: -moz-linear-gradient(left, $from 0%, $to 100%);
  background: -webkit-gradient(left top, right top, color-stop(0%, $from), color-stop(100%, $to));
  background: -webkit-linear-gradient(left, $from 0%, $to 100%);
  background: -o-linear-gradient(left, $from 0%, $to 100%);
  background: -ms-linear-gradient(left, $from 0%, $to 100%);
  background: linear-gradient(to right, $from 0%, $to 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="'"+$from+"'", endColorstr="'"+$to+"'", GradientType=1);
}

/**
 *  Do not remove the comments below. It's the markers used by wiredep to inject
 *  sass dependencies when defined in the bower.json of your dependencies
 */
// bower:scss
// endbower

$screen-fhd: 1750px;
$container-fhd: $screen-fhd - $grid-gutter-width;

.browsehappy {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}

.thumbnail {
  height: 200px;

  img.pull-right {
    width: 50px;
  }
}

body {
  font-family: 'Open Sans', sans-serif;
}

@mixin rem-size($min-width, $max-width, $size) {

  @media (min-width: $min-width) and (max-width: $max-width) {
    html {
      font-size: $size;
    }
  }
}

@include rem-size($screen-lg, $screen-fhd, 8px);
@include rem-size($screen-md, $screen-lg, 6px);
@include rem-size($screen-sm, $screen-md, 4px);
@include rem-size($screen-xs, $screen-sm, 2px);

@media (min-width: $screen-fhd) {

  .container {
    width: $container-fhd;
  }
}

.flex-center {
  display: flex;
  justify-content: space-around;
}

/**
 *  Do not remove the comments below. It's the markers used by gulp-inject to inject
 *  all your sass files automatically
 */
// injector
// endinjector
